
<div class="commentline taketicket">
  <span class="commentdeets">
  <div class="linkbutton status <%=comment.currentstatus%>"><%=comment.currentstatus%></div>
    <%=comment.user.name%> (<%=prettytime(comment.created_at)%>):
  </span> <%=comment.body%><br>
</div>
