<%= form_for @ticket do |form|%>
    <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2 class="error">
        <%= pluralize(@ticket.errors.count, "error") %> prohibited
        this ticket from being saved:
      </h2>
      <ul>
        <% @ticket.errors.full_messages.each do |m| %>
          <li class="error"><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%=form.label :title%><br>
<%=form.text_field :title%><br>
<%=form.label :status%><br>
<%=form.select :status, Ticket::STATUS, prompt:" Choose Status ",class:"selectbox" %>
<br>
<% if request.original_url.include? 'edit'%>
    <% if current_user_admin? %>
      <%=form.label :assigned_user %><br>
      <%=form.select :assigned_user, User.all.collect {|u| [ u.name, u.id ] }, include_blank:true, class:"selectbox"%>
      <br>
      <%end%>
<%end%>

<%=form.label :description%><br>
<%=form.text_area :description%><br>
<%=form.label :screenshot, class:"linkbutton"%><br>
<%=form.file_field :screenshot, style:"display:none;"%><br>
<br>
<%=form.submit%>

<%end%>
